.grill_detail_banner{
    color:#F47B52;
    font-weight: 700;
}


.b2b-sub-headings-bold-grill{
    color:white;
    font-size: 40px;
    font-weight: 600;
}

.grill_banner{
    background: black;
    padding: 50px 0px;
}


@media (max-width:768px) {
    .b2b-sub-headings-bold-grill{
        font-size: 24px;
    }


    
}