.main_vip_detail_page{
    padding-top: 50px!important;
    padding-bottom: 50px;
    display: flex;
  
    color: aliceblue;
    justify-content: space-around;
}
.vip_h2_obj{
    font-size: 40px;
    font-weight: 600;
}

.obj_underline{
    width: 240px;
    height: 15px;
    position: relative;
    bottom: 6px;
}

.vip_detail_page_section_one{
    margin: auto 0;
    width: 40%;
}

.vip_detail_page_section_two{
    margin: auto 0;
    width: 40%;
}


.vip_ul{
    font-size: 18px;
}

.vip_obj_par{
    font-size: 18px;
}



.vip_li_points_data{
    margin-left: 9px;
    line-height: 20px;
    padding-top: 15px;

}

.vip_li_data>div span{
    padding-top: 10px;
}


@media (max-width:768px){
    .h2_obj{
        text-align: center;
    }

    .main_vip_detail_page{
        padding-top: 0px;
        display: flex;
      
        color: aliceblue;
        flex-direction: column;
        align-items: center;
    }

    .vip_detail_page_section_one{
        margin: auto 0;
        width: 100%;
    }
    
    .vip_detail_page_section_two{
        padding-top: 20px;
        margin: auto 0;
        width: 100%;
    }





    .vip_h2_obj {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
        
    }

    .vip_obj_par {
        font-size: 16px;
    }
    .vip_ul {
        padding-left: 0;
        font-size: 16px;
    }
    .obj_underline{
        display: none;
    }
}