.siena_heading{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.siena_about_Section{
    background:#1F222F;
    color: aliceblue;
    padding: 50px 0px;
}

.siena_about_detail{
    font-size: 18px;
    width: 68%;
    text-align: center;
    margin: 5px auto;
    padding: 20px 0px;
}


@media (max-width:768px){
    .siena_heading {
        font-size: 24px;
        text-align: left;
    }

    .siena_about_detail{
            font-size: 16px;
            width: 100%;
            text-align: justify;
        
        }

    

}