.siena_Solution_section{
    color: aliceblue;
    background: #000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.solution_siene_heading{
    text-align: center;
}

.siena_solution_underline{
    width: 220px;
    position: relative;
    bottom:10px;
}
.Solution_section{
    padding-top: 20px;
    }
    
    .siena_solution_para{
        width: 58%;
        font-weight: 400;
        Line-height: 36.75px;
        font-size: 18px;
        padding: 1px;
        text-align: center;
    }
    
    .solution_title{
        font-weight: 700;
        font-size: 45px;
        text-align: center;
    }
    
    .row .siena_div_solution  {
        border-right:1px solid white;
        height: 200px;
        margin:25px auto ;
    }
    
   
    .row .siena_div_solution:nth-child(4){
        border-right:none;
        
    }

    .row .siena_div_solution_two  {
        border-right:1px solid white;
        
        margin:25px  5px;
    }

    .siena_div_solution_two_main{
        display: flex;
        justify-content: center;
    }
    
  
    .siena_solution_sections{
        font-weight: 600;
    }
    
    .solution_section{
        display:flex;
    }
    
    .solution_section img{
        width: 43px;
        height: 43px;
        object-fit: cover;
        margin-right: 5px;
    }
    
    .solution_section p{
        line-height: 28px;
    width: 89%;
    font-size: 18px;
    text-align: left;
    
    }
       
    
    @media (max-width:768px){


       .siena_Solution_section{
        padding-top: 40px;
       }



        .row .siena_div_solution_two  {
            border-right:none;
            margin:5px  0px;
        }
        .siena_solution_para {
            width: 100%;
            font-weight: 400;
            Line-height: 24.75px;
            font-size: 16px;
            text-align: center ;
            
            padding: 0;
         
        }
    
        .solution_section p {
           
            width: 100%;
            font-size: 16px;
        }
    
        .solution_title {
                font-size: 24px;
                margin-bottom: 15px;
                text-align: center;
    }
    
    .row .siena_div_solution {
        border-right:none;
        margin-top: 0px;
    }

    .row .siena_div_solution{
        margin: 0;
        height: auto;
    }
.siena_div{
    margin: 0 auto;
}
    .solution_part_heading{
        padding: 0;
    }
    
    .siena_solution_underline{
        display: none;
    }

    .solution_section img {
        width: 20px;
        height: 22px;
        object-fit: contain;
        padding-top: 4px;
    }
    }
    
    